.banner {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  height: 700px;
  width: 100%;
  z-index: 1;
  .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
    &.left {
      align-items: flex-start;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      text-transform: none;
      margin-bottom: 1em;
    }
  }
  .swiper-container {
    z-index: 1;
    height: 700px;
    width: 100%;
    .swiper-button-prev,
    .swiper-button-next {
      color: #fff;
      transform: scale(0.8);
    }
    .swiper-slide {
      img {
        width: 100%;
        height: auto;
        filter: brightness(0.7);
      }
    }
  }
}
