.banner {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  height: 700px;
  width: 100%;
  z-index: 1;
  .carousel-item {
    img {
      height: 700px;
      filter: brightness(0.5);
      object-fit: cover;
      object-position: top center;
    }
  }
  .banner-content {
    margin: 0 auto;
    max-width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 0 200px;
    & * {
      font-family: 'Roboto', sans-serif;
    }

    &.left {
      align-items: flex-start;
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      text-transform: none;
      margin-bottom: 1em;
    }
  }
  .swiper-container {
    z-index: 1;
    height: 700px;
    width: 100%;
    .swiper-button-prev,
    .swiper-button-next {
      color: #fff;
      transform: scale(0.8);
      font-weight: bold;
      &:focus {
        outline: none;
      }
    }
    .swiper-button-prev {
      left: 100px;
    }
    .swiper-button-next {
      right: 100px;
    }
    .swiper-slide {
      img {
        width: 100%;
        height: auto;
        filter: brightness(0.5);
      }
    }
  }
}
