.calculator-page {
  background-color: #f5f5f5;
  & > .container {
    padding: 40px 10px;
    @include sm {
      padding: 0 10px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
    @include sm {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }
  .calculator-banner {
    height: 350px;
    background: url('../public/transport1.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    @include sm {
      height: 95vh;
      align-items: center;
      justify-content: center;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 4;
    }
    .heading {
      z-index: 5;
      padding: 50px;
      @include sm {
        padding: 50px;
        font-size: 36px;
      }
    }
  }
  .calculator-cont {
    .total-cont {
      .title {
        font-size: 32px;
        color: $dark-txt;
        @include sm {
          font-size: 20px;
        }
      }
    }
    label {
      margin-bottom: 10px;
    }
    color: $grey-txt;
    .field {
      margin: 40px 0;
    }
    .input {
      margin-bottom: 10px;
    }

    .checkbox-cont {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include lgs {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      }
    }
  }
}
