.faq-page {
  .container {
    padding: 50px 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
  }
  .faq-banner {
    height: 350px;
    background-color: #1e284f;
    display: flex;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 4;
    }
    .heading {
      z-index: 5;
      padding: 50px;
    }
  }
}
