.footer-wrapper {
  background-color: $dark-blue;
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 0;
    grid-gap: 30px;
    .column {
      .socials {
        display: flex;
        margin-top: 20px;
        .item {
          background: lighten($dark-blue, 5%);
          border-radius: 50%;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 10px;
          svg {
            fill: $blue;
          }
        }
      }
      .bold {
        font-weight: bold;
      }
      .welcome {
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0em;
        text-transform: none;
        margin-bottom: 1em;
      }
      .content {
        color: $blue;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-transform: none;
        .comment {
          padding: 1em;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          text-transform: none;
          background: rgba(0, 0, 0, 0.15);
          margin-bottom: 1em;
        }
      }
      .link-cont {
        display: flex;
        flex-direction: column;
      }
      .footer-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-transform: none;
        color: #fff;
        transition: 0.4s;
        margin: 0.5em 0;
        a:hover {
          color: $blue;
          svg {
            transform: translateX(10px);
            fill: $blue;
          }
        }
        a {
          display: inline-flex;
          align-items: center;
          svg {
            margin-right: 15px;
            fill: #fff;
            transition: 0.4s;
            transform: translateX(0);
          }
        }
      }
    }
  }
  .bottom-menu {
    background: lighten($dark-blue, 5%);
    .container {
      display: flex;
      align-items: center;
      height: 72px;
      justify-content: space-between;
      .footer-menu {
        display: flex;
        a {
          margin: 0 0.5em;
        }
      }
    }
  }
}
