.btn {
  background-color: $blue !important;
  color: #ffffff;
  padding: 14px 34px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.25s;
  transform: translateY(0);
  border-radius: 6px;
  outline: 0;
  border: 0;
  &:hover {
    background-color: $dark-blue !important;
    color: #ffffff;
    transform: translateY(-2px);
  }
}
.leading {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: $grey-txt;
  &.italic {
    font-style: italic;
  }
}
label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  text-transform: none;
  color: #9b9b9b;
}
.input {
  input,
  select,
  textarea {
    border-width: 1px;
    border-style: solid;
    background: #fff;
    border-color: lighten($grey-txt, 40%);
    width: 100%;
    outline: 0;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
    color: $grey-txt;
  }
  textarea {
    height: 200px;
    padding: 10px;
  }
}
.heading {
  font-size: 54px;
  line-height: 68px;
  text-transform: none;
  font-weight: 100;
  letter-spacing: 0px;
}
// Accordion
.accordion-cont {
  width: 100%;
  .border {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    height: 4px;
    border-radius: 2px;
    transition: 0.4s linear;
  }

  .block input[type='checkbox']:checked ~ .info {
    max-height: 200px;
    transition: 0.4s linear;
  }
  .block input[type='checkbox']:checked ~ .border {
    margin-top: 1em;
    transition: 0.4s;
  }
  .block input[type='checkbox']:not(:checked) ~ .border {
    margin-top: 0;
    transition: 0.4s;
  }
  svg {
    transition: 0.4s linear;
    transform: rotate(0);
  }
  .block input[type='checkbox']:checked ~ label .minus {
    display: flex;
  }
  .block input[type='checkbox']:not(:checked) ~ label .plus {
    display: flex;
  }
  .block input[type='checkbox']:checked ~ label .plus {
    display: none;
  }
  .block input[type='checkbox']:not(:checked) ~ label .minus {
    display: none;
  }

  .block input[type='checkbox']:not(:checked) ~ .info {
    max-height: 0;
    transition: 0.4s linear;
  }

  input[type='checkbox'] {
    width: 100%;
    display: none;
  }

  label {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    height: 35px;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0px;
    color: darken($grey-txt, 20%);
    transition: 0.4s;
    &:hover {
      color: $blue;
    }
    .plus,
    .minus {
      background: $dark-blue;
      color: $blue;
      margin-right: 1em;
      height: 24px;
      width: 24px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .info {
    width: 100%;
    max-height: 0;
    max-width: 650px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    color: $grey-txt;
    margin-left: 28px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.4s ease-out;
    p {
      margin: 0 1em;
    }
  }
}
.title-cont {
  position: relative;
  margin-bottom: 1em;
  .title {
    font-size: 28px;
    line-height: 40px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0px;
    color: $dark-txt;
    margin-bottom: 1em;
  }
  .line {
    position: absolute;
    background-color: $blue;
    height: 3px;
    width: 70px;
    margin-left: 18px;
    top: 50%;
    display: inline-block;
  }
}
.highlight {
  color: $blue;
}
.bold {
  font-weight: bold;
}
.mini-title {
  font-size: 20px;
  line-height: 22px;
  text-transform: none;
  letter-spacing: 0px;
  color: $dark-txt;
  margin: 10px 0;
}
.border {
  width: 100%;
  height: 0.5px;
  background: rgba($grey-txt, 0.15);
  margin: 3em 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.checkbox {
  display: flex;
  align-items: center;
  input {
    position: absolute;
    left: -999999px;
  }
  label {
    margin: 0 40px;
    cursor: pointer;
    overflow: visible;
  }
  label::before {
    content: '';
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 30px;
    background: #fff;
    height: 30px;
    border-radius: 50%;
    // border: 8px solid $grey-txt;
  }
  input:checked + label::before {
    background: #fff;
    border: 8px solid $grey-txt;
  }
}
