.news-cont {
  color: $dark-txt;
  .news {
    margin: 10px 0;
    .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
    .date {
      font-size: 12px;
      font-weight: 400;
      color: $grey-txt;
    }
  }
}
