$dark-blue: #16213a;
$light-blue: #40ddd8;
$blue: #3bb6ce;
$grey-txt: #787878;
$dark-txt: #303133;

$screen-shm: 375px;
$screen-sm: 576px;
$screen-smm: 650px;
$screen-lgs: 800px;
$screen-lg: 952px;
$screen-xl: 1200px;
$screen-xll: 1024px;
$screen-xxl: 1320px;
